<div class="container-narrow">
	<%= render 'layouts/partials/app-header' %>

	<!-- overview title/header -->
	<div class="row-fluid">
		<div class="span12">
			<div class="box-title">
				<strong>Overview</strong>
				<div class="pull-right">
					<form class="form-horizontal date-picker">
					  <fieldset>
					    <div class="control-group">
					      <div class="controls">
					        <i class="icon-calendar"></i>
					        <%= text_field_tag 'revenue-dates', "#{(Date.today - 30.days).strftime("%m/%d/%Y")} - #{Date.today.strftime("%m/%d/%Y")}" %>
					      </div>
					    </div>
					  </fieldset>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	

	<!-- overview charts -->
	<div class="row-fluid">
		<div class="span12">
			<div class="box no-spacing">
				<ul id="overview-squares">
					<li>
						<div class="inner">
							<h4>Churn Rate</h4>
							<h3>2.6%</h3>
						</div>
					</li>
					<li>
						<div class="inner">
							<h4>Revenue / Customer</h4>
							<h3>$2,342.34</h3>
						</div>
					</li>
					<li>
						<div class="inner">
							<h4>Trial to Paid</h4>
							<h3>75.6%</h3>
						</div>
					</li>
					<li>
						<div class="inner">
							<h4>Monthly Revenue <span class="green">+12%</span></h4>
							<h3>$10,436.34 </h3>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</div>