/* Bootstrap variables */
$sansFontFamily: 'Helvetica Neue', Helvetica, Arial;
$linkColor: #35aee7;
$linkColorHover: #35aee7;
$navbarHeight: 62px;
$navbarText: #ecc7a4;
$navbarLinkColor: #ecc7a4;
$navbarLinkColorHover: #feeddc;
$navbarLinkBackgroundActive: transparent;
$navbarLinkColorActive: #feeddc;
$iconSpritePath: '';
$iconWhiteSpritePath: '';


@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: image_url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: image_url($x2img);
    background-size: $w $h;

  }  
}
@mixin bottom-black-shadow{
	text-shadow:0 1px 1px rgba(0, 0, 0, .7)
}
@mixin white-shadow{
	text-shadow:0 1px 0 rgba(255, 255, 255, .4)
}
@mixin top-black-shadow{
	text-shadow:0 -1px 1px rgba(0, 0, 0, .3)
}